<h1><%= @team.name %></h1>
<h3><%= @team.user_difference(current_user) %></h3>

<h4 class='team-section'>Users</h4>
<ul>
<% @users.each do |u| %>
  <% unless u == current_user %>
    <li><%= u.fullname %></li>
  <% end %>
<% end %>
</ul>
