<h2 class="intro-header">Welcome to StandDown.</h2>
<h4 class="intro-header">What is StandDown, exactly?</h4>
<div id="appz"></div>

<div class="intro-container">
<p class="intro-body">
  Standups are vital to the day-to-day operations of tech companies all around the world.
  As these companies grow, however, they often begin opening branches and offices in many differen time zones,
  making standups difficult to schedule. StandDown solves that problem by introducing asynchronous standups.
  Companies and organizations worldwide will be able to get the same information from a standup without having to
   worry about staying late or getting in early.
</p>
</div>

<h4 class="intro-header">How does it work?</h4>
<div class="intro-container">
<p class="intro-body">
  Companies within StandDown set questions and a start time which apply to all members of that company. Each company then has an unlimited number of teams,
   each with their own members, location, and timezone. Every day, at the global start time, all members of a team are prompted to enter their
    responses to the company's worldwide standup questions at the start time in their local time zone. As soon as they've responded, their answers
    go are available to any other member of their organization. The start time varies based on time zone.
</p>
<p class="intro-body">
  For example, imagine that a company sets its start time to 9:00 in the morning. A member of a team in Boston will get prompted to do their standup
  and answer their questions at 9:00 EST. Later in the day, a team in the same company in San Francisco gets their questions at 9:00 PST, and their responses
   immediately go live for the Boston team at 12:00 EST. Likewise, if a team member working in Honolulu happens to be online, they'll see the San Fransisco
    team's responses as soon as they roll in around 6:00 HST, but won't be able to answer questions until 9:00 HST.
</p>
</div>
