<% if current_user %>
  <div class="user-stats">
    <h4 class="user-name"><%= "Hello, #{current_user.fullname}." %></h4>
    <p><%= "Current Team: #{current_user.team.name} | " %><%= link_to "Change", edit_user_registration_path(current_user) %></p>
    <p><%= "Current Location: #{current_user.team.location}" %></p>
  </div>
<% end %>
