// Place all the styles related to the organizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$font-color: #343d51;
$bar-color: #5b527f;

.org-name {
  color: $font-color;
  font-family: "Questrial";
}

.switch-links {
  margin-left: 20px;
}

.team-activity {
  align-items: left;
}

.team-ref {
  border-bottom: 1px solid $bar-color;
}

.org-section {
  border-bottom: 1px solid $bar-color;
  color: $bar-color;
  font-size: 20px;
}

.org-answers {
  height: 200px;
  overflow-y: scroll;
}

.org-wrapper {
  margin: 20px;
}
