// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.team-name {
  font-family: "Questrial";
}

.team-wrapper {
  margin: 10px 30px;
}

.user-response {
  margin: 10px 0px;
}

.team-selectors {
  float:left;
}
.clearBoth {
  clear: both;
}
