// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$font-color: #343d51;

.team-name {
  font-family: "Questrial";
}

.new-team {
  width: 250px;
}

.team-users {
  border-top: 2px solid $font-color;
  height: 300px;
  overflow-y: scroll;
}

.team-question {
  color: $font-color;
}

.team-answer {
  color: $font-color;
  font-style: italic;
}

.recent-activity-appendable {
  overflow-y: scroll;
  height: 300px;
  border-top: 2px solid $font-color;
};

.team-wrapper {
  margin: 10px 30px;
}

.user-response {
  margin: 10px 0;
}

.team-selectors {
  float: left;
}
