// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$font-color: #343d51;

.user-wrapper {
  margin: auto;
  width: 85%;
  align: center;
}

.intro-container {
  margin-left: 20px;
  margin-right: 20px;
}

.user-stats {
  .user-name {
    font-family: "Questrial";
    margin-bottom: 0;
  }
  p{
    font-size: 18px;
    margin-left: 30px;
    margin-top: 2px;
    margin-bottom: 2px;
  }
}

.intro-header {
  color: $font-color;
  font-family: "Rubik";
}

.intro-body {
  color: $font-color;
  font-family: "Questrial";
}

h4 {
  color: $font-color;
  font-family: "Questrial";
  .user-name {
    margin: 0;
  }
}

.user-questions {
  .question a {
    font-size: 18px;
    margin-left: 30px;
  }
}

.user-clock {
  float: right;
  font-size: 30px;
  margin: 0 75px 5px 0;
  font-family: 'Rubik';
}
